@font-face{font-family:'Inter';font-weight:100 900;font-display:block;src:url(UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7.woff2) format('woff2');}
@font-face{font-family:'Space Grotesk';font-weight:300 700;font-display:block;src:url(V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7aUXskPMA.woff2) format('woff2');}
@font-face{font-family:'Space Mono';font-weight:400;font-display:block;src:url(i7dPIFZifjKcF5UAWdDRYEF8RQ.woff2) format('woff2');}
@font-face{font-family:'Space Mono';font-weight:700;font-display:block;src:url(i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2) format('woff2');}
